<?xml version="1.0" encoding="utf-8" ?>
<!--@date 2020/7/16 9:58-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.taes.warden.dao.WardenDao">
    <select id="findByNoAndPwd" resultType="com.xw.taes.warden.domain.Warden" parameterType="com.xw.taes.warden.domain.Warden">
        select
            WID   wid,
            WNO   wno,
            WNAME wname,
            TEL   tel
        from
            warden
        where
            WNO = #{wno}
          and
            WPASSWORD = #{wpassword}
    </select>
    <select id="find" parameterType="com.xw.taes.warden.domain.Warden" resultType="com.xw.taes.warden.domain.Warden">
        select
        WID   wid,
        WNO   wno,
        WNAME wname,
        TEL   tel
        from
            warden
        <where>
            <if test="wname != null and wname != ''">
                WNAME like concat("%",#{wname},"%")
            </if>
        </where>
        order by #{pageVto.sort},#{pageVto.order}
        limit #{pageVto.first},#{pageVto.rows}
    </select>
    <select id="findCount" parameterType="com.xw.taes.warden.domain.Warden" resultType="int">
        select
            count(1)
        from
            warden
        <where>
            <if test="wname != null and wname != ''">
                WNAME = #{wname}
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.xw.taes.warden.domain.Warden" parameterType="int">
        select
            WID   wid,
            WNO   wno,
            WNAME wname,
            TEL   tel
        from
            warden
        where
            WID = #{wid}
    </select>
    <update id="update" parameterType="com.xw.taes.warden.domain.Warden">
        update warden set WNAME=#{wname},TEL=#{tel}
                          <if test="wpassword != null and wpassword != ''">
                              ,WPASSWORD=#{wpassword}
                          </if>
                           where WID = #{wid}
    </update>
    <insert id="save" parameterType="com.xw.taes.warden.domain.Warden">
        insert into warden(WNO,WNAME,TEL,WPASSWORD) VALUES(#{wno},#{wname},#{tel},#{wpassword})
    </insert>
</mapper>