<?xml version="1.0" encoding="utf-8" ?>
<!--@date 2020/7/16 9:58-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.taes.dao.WardenDao">
    <select id="getNav" resultType="com.xw.taes.util.WardenTree">
        select
        id,
        text,
        url,
        state,
        tid
        from
        warden_nav
        <where>
          <if test="id != null and id != ''">
              tid = #{id}
          </if>
        </where>
    </select>
    <select id="findByNoAndPwd" resultType="com.xw.taes.domain.Warden" parameterType="com.xw.taes.domain.Warden">
        select
            WID   wid,
            WNO   wno,
            WNAME wname,
            TEL   tel
        from
            warden
        where
            WNO = #{wno}
          and
            WPASSWORD = #{wpassword}
    </select>
    <select id="find" parameterType="com.xw.taes.domain.Warden" resultType="com.xw.taes.domain.Warden">
        select
        WID   wid,
        WNO   wno,
        WNAME wname,
        TEL   tel
        from
            warden
        <where>
            <if test="wname != null and wname != ''">
                WNAME like concat("%",#{wname},"%")
            </if>
        </where>
        order by #{sort},#{order}
        limit #{first},#{rows}
    </select>
    <select id="findCount" parameterType="com.xw.taes.domain.Warden" resultType="int">
        select
            count(1)
        from
            warden
        <where>
            <if test="wname != null and wname != ''">
                WNAME = #{wname}
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.xw.taes.domain.Warden" parameterType="int">
        select
            WID   wid,
            WNO   wno,
            WNAME wname,
            TEL   tel
        from
            warden
        where
            WID = #{wid}
    </select>
    <update id="update" parameterType="com.xw.taes.domain.Warden">
        update warden set WNO=#{wno},WNAME=#{wname},TEL=#{tel},WPASSWORD=#{wpassword} where WID = #{wid}
    </update>
    <insert id="save" parameterType="com.xw.taes.domain.Warden">
        insert into warden(WNO,WNAME,TEL,WPASSWORD) VALUES(#{wno},#{wname},#{tel},#{wpassword})
    </insert>
</mapper>